
@model ChartDataViewModel
@{ ViewData["Title"] = "Home Page";}

<div class="text-center">
    <h1 class="display-4">Welcome To MCBA Bank</h1>

    @if (_signinManager.IsSignedIn(User))
    {
        <h3>Dashboard</h3>

        <div class="container">
            <div class="row">
                <div class="col" id="ColumnChart" style="width: 100%; height: 800px;"></div>
            </div>
            <div class="row">
                <div class="col" id="piechart" style="width: 900px; height: 500px;"></div>
                <!--<div class="col">-->@* Add form to control chart *@<!--</div>-->
            </div>
        </div>


    }
    else
    {
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h3>The Most Common Bank of Australia</h3>
                    <p>Trust us,<br />
                    Everyone else does.</p>
                    <hr />
                    <h3>Our Promise:</h3>
                    <p>We will pay you no interest and charge you a transactions fee on withdraws and transfers</p>
                    <hr />
                    <h3>What Are You Waiting For?</h3>
                    <p><a asp-action="NewCustomer" asp-controller="Signup">Sign Up</a> Today<br />
                    Already a member? <a asp-controller="Signup" asp-action="Login">Log In</a></p>                    
                </div>
                <div class="col-md-8">
                    <img src="~/bank.jpeg" class="img-fluid" />
                </div>
            </div>
        </div>

    }
</div>


@if (_signinManager.IsSignedIn(User))
{
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);
        google.charts.setOnLoadCallback(drawChart2);

        function drawChart() {

            var data = google.visualization.arrayToDataTable([
                ['date', 'deposit', 'withdraw', 'service fee', 'Incoming Transfer', 'Outgoing Transfer', 'BillPay']
                @foreach (var item in Model.Transactions)
                {
                    @if (item.type == TransactionType.Deposit) {
                        <text>, [new Date('@item.date'), @item.amount,0,0,0,0,0]</text>}
                    @if (item.type == TransactionType.Withdraw) {
                        <text>, [new Date('@item.date'),0, -@item.amount,0,0,0,0]</text>}
                    @if (item.type == TransactionType.ServiceCharge) {
                        <text>, [new Date('@item.date'),0,0, -@item.amount,0,0,0]</text>}
                    @if (item.type == TransactionType.IncomingTransfer) {
                        <text>, [new Date('@item.date'),0,0,0, @item.amount,0,0]</text>}
                    @if (item.type == TransactionType.OutgoingTransfer) {
                        <text>, [new Date('@item.date'),0,0,0,0, -@item.amount,0]</text>}
                    @if (item.type == TransactionType.BillPay) {
                        <text>, [new Date('@item.date'),0,0,0,0,0, -@item.amount]</text>}


                }
            ]);

            var options = {
                title: 'Transaction Amounts For The Past 14 Days',
                vAxis:
                {
                    format: 'currency'
                },
                hAxis:
                {
                    format: 'd MMM'
                },
                bar:
                {
                    groupWidth: 200
                }

            };

            var chart = new google.visualization.ColumnChart(document.getElementById('ColumnChart'));

            chart.draw(data, options);
        }
        function drawChart2() {

            var data = google.visualization.arrayToDataTable([
                ['type','count']
                @foreach (var item in Model.TransactionsCount)
                {
                    <text>,['@item.type', @item.count]</text>
                }
            ]);

            var options = {
                title: 'Transaction Distrubution For The Past 14 Days'
            };

            var chart = new google.visualization.PieChart(document.getElementById('piechart'));

            chart.draw(data, options);
        }</script>
}