@model WebBanking.Models.Customer

@{
    ViewData["Title"] = "Accounts";
}

<h1>Accounts</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(Model => Model.Accounts.FirstOrDefault().AccountNumber)
            </th>
            <th>
                @Html.DisplayNameFor(Model => Model.Accounts.FirstOrDefault().Type)
            </th>
            <th>
                @Html.DisplayNameFor(Model => Model.Accounts.FirstOrDefault().Balance)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Accounts) {
            <tr>
                <td>
                @Html.DisplayFor(modelItem => item.AccountNumber)
                </td>
                <td>
                @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                @Html.DisplayFor(modelItem => item.Balance)
                </td>
            <td>
                @*<a asp-action="Edit" asp-route-id="@item.AccountNumber">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AccountNumber">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AccountNumber">Delete</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
