@model WebBanking.Models.Customer

@{
    ViewData["Title"] = "Accounts";
}

<h1>Accounts</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(Model => Model.Accounts.FirstOrDefault().AccountNumber)
            </th>
            <th>
                @Html.DisplayNameFor(Model => Model.Accounts.FirstOrDefault().Type)
            </th>
            <th>
                @Html.DisplayNameFor(Model => Model.Accounts.FirstOrDefault().Balance)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Accounts) {
            <tr>
                <td>
                @Html.DisplayFor(modelItem => item.AccountNumber)
                </td>
                <td>
                @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                @Html.DisplayFor(modelItem => item.Balance)
                </td>
                <td>
                    <a class="btn btn-primary btn-sm" asp-controller="Account" asp-action="Deposit" asp-route-id="@item.AccountNumber">Deposit</a>
                    <a class="btn btn-primary btn-sm" asp-controller="Account" asp-action="Withdraw" asp-route-id="@item.AccountNumber">Withdraw</a>
                    <a class="btn btn-primary btn-sm" asp-action="Statements" asp-route-id="@item.AccountNumber">Statements</a>

                </td>
        </tr>
}
    </tbody>
</table>
