@using X.PagedList
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common
@model IPagedList<Transaction>
@{
    ViewData["Title"] = "Statements";
}

<div>
    <h1>Transactions for account number @Model.First().AccountNumber </h1>
    <table class="table">
        <tr>            
            <th>@Html.DisplayNameFor(x => x[0].Amount)</th>
            <th>@Html.DisplayNameFor(x => x[0].DestinationAccountNumber)</th>
            <th>@Html.DisplayNameFor(x => x[0].Comment)</th>
            <th>@Html.DisplayNameFor(x => x[0].TransactionType)</th>
            <th>@Html.DisplayNameFor(x => x[0].TransactionTimeUtc)</th>
        </tr>
        @foreach (var transaction in Model)
        {
    <tr>
        <td>@Html.DisplayFor(x => transaction.Amount)</td>
        <td>@Html.DisplayFor(x => transaction.DestinationAccountNumber)</td>
        <td>@Html.DisplayFor(x => transaction.Comment)</td>
        <td>@Html.DisplayFor(x => transaction.TransactionType)</td>
        <td>@transaction.TransactionTimeUtc.ToLocalTime().ToString("dd MMM yyyy H:mm")</td>
    </tr>
        }
    </table>

    @Html.PagedListPager(Model, page => Url.Action("Statements", new { page }),
        new PagedListRenderOptions
            {
            LiElementClasses = new[] { "page-item" },
            PageClasses = new[] { "page-link" }
        })
</div>

<div>
    <a asp-action="Index">Back to Accounts</a>
</div>
